html
  head
    title=title
    link(
      href='/css/mainStyle.css',
      rel='stylesheet'
    )
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
    script(src="/blockly_compressed.js")
    script(src="/blocks_compressed.js")
    script(src="/msg/js/en.js")
    script(src="/js/ajax.js")
    
  body
   if errors
        each error in errors
          div.alert.alert-danger
            span #{error.error}
            
   #blocklyDiv
   #blocklyArea
   #canvas
   
   p
    a.btn.btn-primary(onClick="getxml();") Save
   p 
    a.btn.btn-primary(onClick="loadxml();") load

   

  xml#toolbox
    |<block type='controls_if'></block>
    |<block type='logic_compare'></block>
    |<block type='controls_repeat_ext'></block>
    |<block type='math_number'></block>
    |<block type='math_arithmetic'></block>
    |<block type='text'></block>
    |<block type='text_print'></block>
    
  script(src="/js/blocklyinject.js")